.wrapper {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  min-width: 500px;
  min-height: 500px;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  -webkit-box-shadow: 20px 9px 36px 15px rgba(193, 189, 255, 1);
  -moz-box-shadow: 20px 9px 36px 15px rgba(193, 189, 255, 1);
  box-shadow: 20px 9px 36px 15px rgba(193, 189, 255, 1);
}
.author-imput {
  margin-left: 5px;
  min-width: 200px;
  text-align: center;
  border-radius: 25px;
}

.input {
  min-width: 80%;
  margin-top: 20px;
  text-align: center;
  border-radius: 25px;
}
.textarea {
  min-width: 80%;
  margin-top: 20px;
  min-height: 100px;
  text-align: center;
  border-radius: 25px;
}

.button {
  min-width: 80%;
  margin-top: 50px;
  min-height: 20px;
  border-radius: 20px;
  font-size: 1.2em;
  background-color: rgb(187, 199, 250);
}
.button:hover {
  transform: scale(1.1);
  transition: transform 0.25s;
}
